::selection {
  @apply bg-primary text-white;
}

body {
  @apply text-black font-inter text-sm font-normal tracking-tight;
  @apply overflow-x-hidden;
  @apply h-full w-full;

  &::-webkit-scrollbar {
    @apply w-2;
  }

  &::-webkit-scrollbar-track {
    @apply bg-gray-200;
  }

  &::-webkit-scrollbar-thumb {
    @apply bg-gray-400;
    @apply border-0 rounded-[1000px];
  }
}

// Sidebar
@import "./sidebar";