// Sidebar (Menu)
#sidebarLeft {
  .sidebar {
    &-scroll {
      &::-webkit-scrollbar {
        @apply w-3;
      }

      &::-webkit-scrollbar-track {
        @apply bg-transparent;
      }

      &::-webkit-scrollbar-thumb {
        @apply bg-gray-300 bg-opacity-50;
        @apply border-4 border-solid border-primary rounded-[1000px];
      }
    }

    &-dropdown {
      .parent-icons {
        @apply transition duration-300 ease-in-out;
      }

      &.active {
        .parent-icons {
          @apply transform rotate-180;
        }
      }
    }

    &-submenu {
      @apply flex;

      &-collapse {
        @apply hidden;
        @apply opacity-0;
      }
    }
  }
}