.dataTables {
  &_scrollBody {
    @apply overflow-x-auto lg:overflow-x-hidden #{!important}; 
  }
 
  &_wrapper {
    .dataTables {
      &_scrollBody {
        &::-webkit-scrollbar {
          @apply w-1;
          @apply h-1;
  
          @apply duration-300 ease-in-out; 
        } 

        &::-webkit-scrollbar-track {
          @apply bg-gray-100;
        }

        &::-webkit-scrollbar-thumb {
          @apply bg-gray-200; 
          @apply border-0 rounded-[1000px];

          &:hover {
            @apply bg-gray-300;
          }
        }
      }

      &_scroll,
      &_scrollBody {
        @apply border-b-0;   
        @apply mb-5; 
      }  

      // Length (Header) 
      &_length,
      &_filter {
        label {
          @apply text-gray-500 font-inter text-sm font-normal leading-6 tracking-tight;
        }
      }

      &_length {
        @apply flex;
        @apply mt-1 mb-3;

        select {
          background-image: none;
          @apply border-gray-300 focus:border-primary focus:ring-0 rounded-lg;
          @apply text-gray-500 font-inter text-sm font-normal leading-6 tracking-tight;
          @apply outline-none appearance-none;
          @apply px-2;
          @apply mx-2;

          @apply duration-300 ease-in-out;
        }
      }

      &_filter {
        @apply flex flex-col sm:flex-row;
        @apply mb-6;   

        label {
          @apply flex items-center;
        }

        input {
          @apply border border-gray-300 focus:border-primary focus:ring-0 placeholder-gray-400;
          @apply rounded-lg;
          @apply font-inter;
          @apply px-3;
          @apply ml-3;
          @apply w-full sm:w-auto;  
        }
      }

      // Info (Footer)
      &_info {
        @apply flex flex-col items-center;
        @apply text-gray-500 font-inter text-sm font-normal leading-6 tracking-tight;
        @apply pt-0;
      }

      // Paginate (Footer)
      &_paginate {
        @apply flex items-center justify-center sm:justify-start;
        @apply mt-2 lg:mt-0;    
        @apply pt-0;   
        
        span {
          @apply flex items-center;  
          @apply mx-1;     
        }  
        
        .paginate {
          
          &_button {
            @apply bg-transparent; 
            @apply flex items-center justify-center;
            @apply border-none border-0 ring-0 shadow-none;
            @apply text-gray-400 #{!important};
            @apply font-inter text-lg font-normal leading-6 tracking-tight;
            @apply outline-none;
            @apply py-0 px-0;       
            @apply ml-1.5;     
            @apply min-w-max;    

            @apply duration-300 ease-in-out;
            
            &:hover,
            &:focus,
            &:active {
              background: transparent;
              @apply bg-transparent border-none border-0 ring-0 shadow-none outline-none;
              @apply text-primary #{!important};
            }

            &.current ,
            &.disabled {
              background: transparent;
              @apply bg-transparent border-none border-0 ring-0 shadow-none outline-none;
              @apply text-primary #{!important};

              &:hover,
              &:focus,
              &:active {
                background: transparent;
                @apply bg-transparent border-none border-0 ring-0 shadow-none outline-none;
                @apply text-primary #{!important};
              }
            }
          } 
        }
      } 
      
      &_processing{  
        @apply bg-white; 
        @apply inset-0;  
        @apply py-6 m-0;   
        @apply h-full;   
        @apply z-[102];  
      }
    }

    &.no-footer {
      .dataTables {
        &_scrollBody{
          @apply border-b-0;  
        }
      }
    }
  }
}

// Tabel
table.dataTable {
  @apply bg-white;
  @apply table border-collapse;
  @apply text-black;
  @apply relative;
  @apply w-full;

  thead {
    @apply font-inter;

    tr {  

      th,
      td {
        @apply bg-lightgreen-1;
        @apply border-collapse border-t border-b border-gray-200;
        @apply text-green text-xs font-semibold capitalize tracking-tight;
        @apply py-3.5 px-2.5; 
      } 

      .first {
        @apply px-3.5;

        &-after {
          @apply pl-0;
        }
      }

      .icons {
        @apply pt-4;
      }
    }
  }

  tbody {
    @apply font-inter;

    tr { 
      @apply border-b border-gray-200;

      th,
      td {
        @apply text-xs font-medium tracking-tight;
        @apply py-4 px-2.5;
      }

      .first {
        @apply px-3.5;

        &-after {
          @apply pl-0;
        }
      }

      .last {
        @apply pr-0;
      }

      .icons {
        @apply pt-4;
      }
    }

    .dataTables {
      &_empty {
        @apply bg-transparent;
        @apply text-gray-500 font-inter text-sm font-normal leading-6 tracking-tight;
        @apply py-7;
      }
    }
  }

  // Footer
  &.no-footer {
    @apply border-gray-200; 
    @apply w-full min-w-full; 
  }
}

// Tabel Data
.table-data {
  thead {
    tr {
      th,
      td {
        &.last {
          @apply px-0;  
          background-position: center center;
        }
      }
    }
  }

  tbody {
    tr {
      &:nth-last-child(2) {   
        .dropdown {
          @apply top-0 bottom-0;  
        }
      }

      &:last-child {  
        .dropdown {
          @apply top-auto bottom-0;  
        }
      }

      &:first-child {
        .dropdown {
          @apply top-0 bottom-0;
        } 
      }
       
      th,
      td {
        &.last { 
          @apply px-0; 
        }
      }  
    }
  } 
}  