// Hamburger
.hamburger { 
  @apply flex flex-col relative;
  @apply p-2;
  @apply text-black hover:text-primary;

  @apply duration-300 ease-in-out;

  &-items {
    @apply flex;
    @apply bg-current;
    @apply mb-1;
    @apply h-[2px];
    @apply w-6;

    @apply duration-300 ease-in-out;

    @apply last:mb-0;
  }

  &.active {
    .hamburger {
      &-items {
        visibility:hidden;
        @apply opacity-0;
  
        @apply first:visible first:opacity-100;
        @apply first:transform first:translate-y-1.5 first:rotate-[137deg];
        @apply first:w-[21px];    
 
        @apply last:visible last:opacity-100;  
        @apply last:transform last:-translate-y-1.5 last:rotate-[41deg];
        @apply last:w-[21px];         
      }   
    }
  } 
}