.modal,
.modal-backdrop {
  @apply overflow-hidden;
  @apply fixed inset-0;
  @apply h-full w-full;

  @apply duration-300 ease-in-out;
}

.modal {
  @apply pointer-events-none;
  @apply z-first2;

  // Style Scrollbar
  &::-webkit-scrollbar {
    @apply w-2;

    @apply duration-300 ease-in-out;
  }

  &::-webkit-scrollbar-track {
    @apply bg-gray-200;
  }

  &::-webkit-scrollbar-thumb {
    @apply bg-gray-400;
    @apply border-0 rounded-[1000px];
  }

  &-dialog {
    @apply my-3 mx-3;
    @apply h-auto;

    @apply opacity-0 translate-y-[-15%];

    @apply duration-300 ease-in-out;

    @screen sm {
      @apply my-8 mx-auto;
    }
  }

  // Content Modal
  &-content {
    @apply bg-white;
    @apply flex flex-col;
    @apply rounded-xl;
    @apply relative;
    @apply w-full;

    @apply duration-300 ease-in-out;
  }

  // Heading Modal
  &-heading {
    @apply flex items-center justify-between;
    @apply text-black;
    @apply font-inter text-base font-medium tracking-tight;
    @apply pt-5 px-[18px] pb-4;
  }

  // Body Modal
  &-body {
    @apply text-gray-400 font-inter text-sm font-normal tracking-tight;
    @apply pt-4 px-[18px] pb-6;
  }

  // Footer Modal
  &-footer {
    @apply flex flex-wrap items-center justify-end;
    @apply pt-3 px-[18px] pb-4;
  }

  // Custom Modal
  &-dialog {
    &-scrollable {
      @apply flex flex-col items-center justify-center;
      @apply fixed inset-0;
      @apply my-auto;
      @apply h-full;

      min-height: calc(100% - 3.5rem);
      max-height: calc(100% - 3.5rem);

      @screen sm {
        min-height: calc(100% - 8.5rem);
        max-height: calc(100% - 8.5rem);
      }

      @screen lg {
        min-height: calc(100% - 20.5rem);
        max-height: calc(100% - 20.5rem);
      }

      @screen xl {
        min-height: calc(100% - 3.5rem);
        max-height: calc(100% - 3.5rem);
      }

      .modal {
        &-content {
          @apply overflow-hidden;
          @apply max-h-screen;
        }

        &-body {
          @apply overflow-x-hidden overflow-y-auto;

          &::-webkit-scrollbar {
            @apply w-2;

            @apply duration-300 ease-in-out;
          }

          &::-webkit-scrollbar-track {
            @apply bg-gray-200;
          }

          &::-webkit-scrollbar-thumb {
            @apply bg-gray-300;
            @apply border-0 rounded-[1000px];

            @apply hover:bg-gray-400;
          } 
        }
      }
    }
  }

  // Backdrop
  &-backdrop {
    @apply bg-gray-800 bg-opacity-40;

    @apply invisible;
    @apply opacity-0;

    z-index: -1;

    &.active {
      @apply visible;
      @apply opacity-100;
      @apply z-first1;
    }
  }

  // Body HTML
  &-open {
    @apply overflow-x-hidden overflow-y-hidden;
    @apply xl:pr-2; 

    .modal {
      @apply block;
      @apply overflow-x-hidden overflow-y-hidden;

      @apply xl:pr-2.5;
    } 
  } 

  &.active {
    @apply overflow-y-auto;

    pointer-events: all;
    @apply visible;
    @apply opacity-100;

    .modal {
      &-dialog {
        @apply opacity-100 translate-y-0;
      }
    }
  }
}