.activity-groups,
.tabel-detail-kelitbangan {
  &::-webkit-scrollbar {
    @apply h-1;
    @apply w-1;
  }

  &::-webkit-scrollbar-track {
    @apply bg-gray-200;
  }

  &::-webkit-scrollbar-thumb {
    @apply bg-gray-300;
    @apply border-0 rounded-[1000px];
  }
}