.select2 {
  @apply w-full;
  @apply min-w-full;
  @apply max-w-full;

  &-selection {}

  &-container {
    &--default {
      .select2-selection {
        &--single {
          @apply flex items-center;
          @apply border-gray-300 rounded-lg;
          @apply outline-none;
          @apply relative;
          @apply py-6 px-4;
          @apply h-0;

          -webkit-transition: all 0.2s ease-in-out;
          transition: all 0.2s ease-in-out;

          @apply focus:border-primary focus:shadow-none;
          @apply active:border-primary active:shadow-none;

          .select2-selection {
            &__rendered {
              @apply text-black;
              @apply font-inter text-sm font-normal tracking-tight;
              @apply p-0;
            }

            &__arrow {
              @apply flex items-center;
              background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 20 20'%3e%3cpath stroke='%236b7280' stroke-linecap='round' stroke-linejoin='round' stroke-width='1.5' d='M6 8l4 4 4-4'/%3e%3c/svg%3e");
              background-position: right 0.5rem center;
              background-repeat: no-repeat;
              background-size: 1.5em 1.5em;
              padding-right: 2.5rem;
              -webkit-print-color-adjust: exact;
              color-adjust: exact;
              @apply inset-y-0 left-auto;
              @apply h-full;

              b {
                @apply hidden;
              }
            }
          }
        }

        &--multiple {
          @apply flex flex-col items-start;
          @apply border-gray-300 rounded-lg;
          @apply outline-none;
          @apply relative;
          @apply overflow-x-hidden;
          @apply overflow-y-auto;
          @apply p-0 py-3 px-3;
          @apply h-[50px];
          @apply min-h-[auto];

          &::-webkit-scrollbar {
            @apply w-1.5;

            @apply duration-300 ease-in-out;
          }

          &::-webkit-scrollbar-track {
            @apply bg-gray-200;
          }

          &::-webkit-scrollbar-thumb {
            @apply bg-gray-400;
            @apply border-0 rounded-[1000px];
          }

          .select2-selection {

            &__rendered,
            &__choice {
              @apply m-0;
            }

            &__rendered {
              @apply w-full;
            }

            &__choice {
              @apply bg-gray-200;
              @apply border-0;
              @apply py-[2px] pr-1.5;
              @apply mb-1.5;
              @apply w-full;

              &__remove {
                @apply hover:bg-gray-200 focus:bg-gray-200 text-black hover:text-black;
                @apply border-r-0;
                @apply pl-2.5 pr-0;
                @apply h-full;
              }

              &__display {
                @apply text-black font-inter text-xs;
                @apply p-0 pl-2;
              }  
            }
          }
        }
      }

      &.select2-container--open.select2-container--below,
      &.select2-container--open.select2-container--above {
        .select2-selection {

          &--single,
          &--multiple {
            @apply rounded-bl-lg rounded-br-lg;
          }
        }
      }

      &.select2-container--focus {
        .select2-selection {
          &--multiple {
            @apply border-primary;
          }
        }
      }

      .select2-search--dropdown {
        .select2-search__field {
          @apply border-gray-300;
        }
      }

      .select2-results__option {
        &--selected {
          @apply border-gray-100;
        }

        &--highlighted {
          &.select2-results__option--selectable {
            @apply bg-primary;
          }
        }
      }
    }
  }

  &-search {
    &--dropdown {
      @apply py-2.5;
      @apply px-2;

      .select2-search__field {
        @apply rounded;
        @apply ring-0;
        @apply font-inter text-xs font-normal tracking-tight;
        @apply outline-none;
        @apply py-2 px-2.5;
      }
    }
  }

  &-dropdown {
    @apply flex flex-col;
    @apply border-gray-300;
  }

  &-results {
    &__option {
      @apply text-black;
      @apply font-inter text-sm font-normal tracking-tight;
      @apply py-2 px-4;

      &--highlighted[aria-selected] {
        @apply text-white;
      }
    }
  }
}