.swal {
  &-overlay{
    @apply px-4 sm:px-0;   
  }
  &-modal {
    @apply rounded-lg;
    @apply pt-2 pb-1.5 px-2.5;
    @apply w-[-webkit-fill-available] sm:w-[445px];
  }

  &-footer {
    @apply pt-3 pb-2.5 px-0;
    @apply mt-7;
  }

  // Icons
  &-icon {
    @apply mt-0 mx-auto mb-[18px];

    &:first-child {
      @apply mt-5;
    }
  }

  &-title,
  &-text,
  &-button {
    @apply font-inter;
  }

  &-title {
    @apply text-black text-xl font-medium tracking-tight;
    @apply p-0;
    @apply mb-6;
  }

  &-text {
    @apply text-gray-400 font-normal tracking-tight leading-relaxed text-center;
    @apply py-0 px-8;

  }

  // Button
  &-button {
    @apply shadow-none border-0 rounded-lg ring-0;
    @apply text-[13px] font-normal;
    @apply outline-none;
    @apply py-[9px] px-5;

    &-container {
      @apply m-0;

      &:first-child {
        @apply mr-2;
      }
    }

    &--confirm {
      @apply bg-primary;

      &:not([disabled]):hover,
      &:focus,
      &:active {
        @apply bg-primary shadow-none;
      }
    }

    &--cancel {
      @apply bg-secondary text-white;

      &:not([disabled]):hover,
      &:focus,
      &:active {
        @apply bg-secondary shadow-none;
      }
    }

    &--danger {
      @apply bg-danger;

      &:not([disabled]):hover,
      &:focus,
      &:active {
        @apply bg-danger shadow-none;
      }
    }
  }
}